/* @tailwind base;
@tailwind components;
@tailwind utilities; */


.header{
  background-color: aqua;
  height: 100px;
  display: flex;
}


.product{
  background-color: red;
  width: 100px;
  height: 200px;
  color: white;
}