.logo{
    height:10%;
    padding: 10px;
    margin-top: 8px;
    margin-left: -10px;
    margin-right: 20px;
 }
 
 .css-hyum1k-MuiToolbar-root{
     color: black;
     background-color: rgb(8, 192, 192);
    
 }
 .css-to4x1n-MuiBadge-badge{
     background-color:#F9A82F !important ;
     color: #000 !important;
 }
 .css-hip9hq-MuiPaper-root-MuiAppBar-root{
     background-color: rgb(65, 180, 237) !important;
     height: 65px;
 }
 .css-96uuyl{
     justify-items: center;
     width: 400px !important;
 }