.logo{
   height:10%;
   margin-bottom: -75px;
   padding: 10px;
}

.css-hyum1k-MuiToolbar-root{
    color: black;
   
}
.css-to4x1n-MuiBadge-badge{
    background-color:#F9A82F !important ;
    color: #000 !important;
}