.buyForm{
    border: 1px solid #967a7a;
    border-radius: 15px;
    text-align: center !important;
    padding: 10px;
    margin-top: -350px !important;
    position: absolute;
    right: 0;
    width: 260px;
}