.footer{
    background-color: cadetblue;
    width: 100%;
    padding: 50px;
    margin-top: 5px;
}
.logo{
    height: 200px;

}
.css-10mzr36-MuiGrid-root {
    align-items: center;
    justify-content: center;
}