
.form-control{
    width: 270px;
    height: 15px;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
}
h3{
    color: dodgerblue;
    text-decoration: underline;
}
button{
    padding: 7px;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: bold;
    margin: 10px;
}
.Link{
    font-size: 14px;
}