.header{
    background-color: rgb(21, 188, 188);
    height: 40px;
    display: flex;
    padding: 10px 50px;
  }
  .logo{
    margin-top: -40px;
    height: 120px;
  
  }
.search{
   height: 30px;
   width: 500px;
   border: 1px solid rgb(231, 225, 225);
   border-radius: 8px;
    margin: auto;
}
.chart{
    margin-top: 15px;
    font-size: 28px;
    margin-right: 10px;
    margin-top: -2px;
    color: #113729
    
}
.search-icon{
  position: absolute;
  margin-left: 950px;
  margin-top: 10px;

}
.search{
  padding: 3px 20px;
  font-size: 16px;

}
.login{
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
  font-size: 16px;
}
.singup{
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
  border: none;
}