.navbar{
  background:rgb(29, 166, 178);
}
.css-hyum1k-MuiToolbar-root {
  height: 40px;
}
.singingBtn{
  padding: 10px;
  margin-top: 8px;
  font-size: 12px;
}
.login{
  padding: 2px 5px;
  border: 1px solid rgb(60, 58, 58);
  border-radius: 10px;
}
.singup{
  padding: 2px 5px;
  border: 1px solid rgb(60, 58, 58);
  border-radius: 10px;
  margin-left: 8px;
}
.css-i4bv87-MuiSvgIcon-root {
  color: rgb(60, 58, 58) !important;
}